
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Food Item</title>
</head>

<body>
    <h1>Add New Pantry Item</h1>
    <!-- <form action="/foods" method="POST"> -->
        <form action="/users/<%= user._id%>/foods" method="POST">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" required> 

        <label for="isHealthy">Is it Healthy?</label>
        <input type="checkbox" name="isHealthy" id="isHealthy" />

        <button type="submit">Add New Item</button>
    
</body>
</html>